pkgbase = deskhpsdr-git
	pkgdesc = A GTK+/Linux based client for the HPSDR and Hermes-Lite SDR
	pkgver = 2.8.2.r1.gce2fa24
	pkgrel = 1
	url = https://github.com/dl1bz/deskhpsdr
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = gcc-fortran
	makedepends = cppcheck
	makedepends = dos2unix
	makedepends = wget
	makedepends = meson
	makedepends = ninja
	makedepends = clang
	makedepends = llvm
	makedepends = nettle3
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = fftw
	depends = alsa-lib
	depends = openssl
	depends = curl
	depends = libusb
	depends = i2c-tools
	depends = libgpiod
	depends = libpulse
	depends = libpcap
	depends = json-c
	depends = gnome-themes-extra
	depends = libaio
	depends = avahi
	depends = libiio
	depends = rtl-sdr
	depends = soapysdr
	depends = zstd
	depends = python
	depends = libwebsockets
	optdepends = libad9361-iio: for AD9361 support
	provides = deskhpsdr
	conflicts = deskhpsdr
	source = deskhpsdr::git+https://github.com/dl1bz/deskhpsdr.git
	sha256sums = SKIP

pkgname = deskhpsdr-git
